@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

@import './utilities';
@import './core/variables';
@import './core/base';
@import './sections/BreadCrumbs';
@import './Navbar';
@import './NavbarMain';
@import './MobileDropdown';
@import './CustomerLinks';
@import './WhiteCircleButton';
@import './showCase';
@import './ShowcaseBanner';
@import './buttons/RedButton';
@import './buttons/BlackButtons';
@import './buttons/WhiteButtons';
@import './sections/ProductsBanner';
@import './sections/ProductsFlash';
@import './sections/FeaturedProducts';
@import './sections/PamelaReif';
@import './sections/Specialty';
@import './sections/ProductGridSection';
@import './sections/SpecialOffer';
@import './sections/SpecialOffer2';
@import './sections/DiscountBanner';
@import './sections/DiscountCard2';
@import './sections/TopBannerDiscount';
@import './sections/ProductDetailsInfoGrid';
@import './sections/Contacts';
@import './sections/MapSection';
@import './sections/HomeFooter';
@import './sections/Footer';