/* Mobile RED button  */
.mobile-red-button {
 

    display: block;
     height:30px;
     width:100px;
     background: #FF7373;;
     position: relative;
    
    
     text-align: center;
     align-self: center;
     
    
    
     padding: 3px;
     color: #fff;
     text-align: center;
     font-family: $font-poppins;
     font-size:0.7rem;
     font-weight: $font-weight-medium;
     padding-top: 7px;
     }
    a.mobile-red-button {
     text-decoration: none;
    }
    a.mobile-red-button:hover {
        background-color: #222529;
        color:#FF7373
    }

    /* RED button  */

    @media (min-width: 1200px) { 
 .mobile-red-button {
 

    display: block;
     height: 60px;
     width: 188px;
     background: #FF7373;;
     position: relative;
    
    
     text-align: center;
     align-self: center;
     
    
    
     padding: 3px;
     color: #fff;
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 1rem;
     font-weight: 600;
     padding-top: 18px;
     }
    a.mobile-red-button {
     text-decoration: none;
    }
    a.mobile-red-button:hover {
        background-color: #222529;
        color:#FF7373
    }
    
}