.mobile-card {
    margin-left: auto;
    margin-right: auto;
}
.productGrid {
    display: flex;
    justify-content: space-between;
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.product-gallery-grid {
  
    display: grid;
   
    grid-template-columns: 1fr ;
    max-width: 1115px;
    column-gap: 1.875rem;
    row-gap: 1.4375rem;
 }

    .product-gallery-grid {
  
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1115px;
        column-gap: 1.875rem;
        row-gap: 1.4375rem;
       
     }
  
     
  
    

 .product-grid {
    width: 100%;
    display: block;
    height: 330px;
    overflow: hidden;
  
}

    
 .card {
    border: none !important;
    width: 300px;
    margin-left: auto;
    margin-right: auto;   
}

.card-menu {
    position: absolute;
 
    width: 50px;
    z-index: 1;
    margin-top: 0rem;
    top: 0;
    left: 230px;

    right: 1rem;
    list-style: none;
    opacity: 0.6;
    padding: .85rem;
    font-size: 1.25rem;
    border-radius: $border-radius-medium;

    transition:  0.2s ease-in-out;

}
.card-menu:hover {
    opacity: 1;
}
.card-menu .productButton {
    background-color: $color-white;
    display: flex;
    color: black;
    height: 39px;
    width: 39px;
    border: none !important;
    border-radius: 50%;
    display: inline-block;
    justify-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) ;
    align-items: center;
   text-align: center;
   position: relative;
    line-height: 3em;
   margin-right: 5px;
   margin-left: 5px;
}

.card-menu .productButton .productIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover .card-menu  {
    display: block;
    top: 0;
}


.card-body {
    text-align: center;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: -30px;
}
.card-body h5 {
    font-family: $font-poppins;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: $color-font-featured-category;

}
.card-body h4 {
    font-family:  $font-poppins;
    font-size: 0.925rem;
    font-weight: 800;
    letter-spacing: 2px;
    color:  $color-font-featured-category;
}
.card-body .text-theme {
    color: $color-red-0;
}
.card-body .price {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;

}
.card-body .price .old-price {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: line-through;
    padding-right: 0.5rem;
    display: none;
}
.card-body .price .new-price {
    font-size: 1.125rem;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.quickview-buttons {
    position: absolute;
    top:135px;
}
.card:hover .quickview-buttons {
    position: absolute;
   
}

.quickview-button {
 

    display: block;
     height: 40px;
     width: 300px;
     background: $color-red-0;
     filter: opacity(50%);
     position: relative;
    
    
     text-align: center;
     align-self: center;
     
    margin-top: 15px;;
 
    
     padding: 3px;
     color: #fff;
     text-align: center;
     font-family: $font-poppins;
     font-size: 0.875rem;
     letter-spacing: 3.2px;
     font-weight: 400;
     padding-top: 11px;
  
     z-index: 2;
     }
    a.quickview-button {
     text-decoration: none;
     font-stretch: 300%;
    }
    a.quickview-button:hover {
        background-color: $color-dark;
        color:$color-red-0;
        filter: opacity(100%);
    }

    .quick-btn-border::after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 10px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .quick-btn-border::before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 15px;
        left: 10px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }
    .card {
        display: flex;
    }
    .card-menu .productbutton li a {
        background-color: $color-white;
       margin-bottom: 0.5rem;
    
   
        height: 39px;
        width: 39px;
      
        border-radius: 50%;
        display:inline-block;
        align-items: center;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06) ;
        align-items: center;
      line-height: 2.185rem;
      text-align: center;
       position: relative;
       font-size: 1.1rem;
       color: $color-dark;
    }

    
    .card-menu button:hover {
        font-weight:600;
        color:$color-white;
        text-decoration: none;
        background-color: $color-dark;
        
    }
    .card-menu .productButton >  i  {
        
        font-size: 1.2rem;
        font-weight: $font-weight-regular;
        text-align: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
     
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-self: center; 
   
    }
    .card-menu button i {
      margin-bottom: 30rem;
    }
   
 

    .card .card-background {
        position: absolute;
        bottom: 0;
        height: 0;
        top:0;
        width: 100%;

        opacity: 0.90;
        transition: 0.3s ease-in-out;
    }
    .card .featured-image {
        height: 200px;
        display: grid;
       
    }
    .card .featured-image img {
        display: grid;
        filter: grayscale(80%);
        width: 300px;
        height: 190px;
        object-fit: cover;

        
    }

    .card:hover .card-background .featured-image-dark img {
        filter: contrast(200%) brightness(120%) grayscale(0%);
        display: none;
        filter: grayscale(80%);
        
        object-fit: cover;
    }

    @media (min-width: 800px) {
         .card .featured-image {
        height: 200px;
       
    }
    .card .featured-image img {
        filter: brightness(80%);
        
    }
    }
    .card-background .featured-image-dark {
      width: 300px;
      height: 300px;
      object-fit: contain;
        display: none;
        transition: 0.5s ease-in-out;
    }
    .card:hover  .featured-image-dark {
        height: 200px;
        display: block;
        transition: 2s ease-in-out;
    
        filter: brightness(120%);
        filter: grayscale(80%);
    }
    .card:hover .card-background {
        position: absolute;
        bottom: 0;
        height: 200px;
        top:0;
        width: 100%;
 
      
        opacity: 0.90;
        transition:  0.02s ease-in-out;
    }
.featured .container  {

    display: flex;

    justify-content: center;
    width:100%;



}

@media (min-width: 600px) {
    .product-gallery-grid {
      display: none;
    }
    
  }


@media (min-width: 1200px) {
    
 .mobile-card {
    display: none;
    overflow: hidden;
 }

    .product-gallery-grid {
  
        display: grid;
       /*  grid-template-columns: repeat(4, 1fr); */
      /*     max-width: 1115px; */
  /*   column-gap: 1.875rem;
    row-gap: 1.4375rem; */
    overflow: hidden;
    
 
     
     }
     .product-gallery-grid .card {
        border: none !important;
        overflow: hidden;
        width: 255px;
    }

    .product-grid {
        width: 100%;
        display: block;
        height: 330px;
   
   
        overflow: hidden;
    
    }

    

    .product-grid .card {
    border: none !important;

    .card-menu {
        position: absolute;
     
        width: 50px;
        z-index: 1;
        margin-top: 0rem;
        left: -90000%;
     
        right: 1rem;
        list-style: none;
    
        padding: .85rem;
        font-size: 1.25rem;
        border-radius: $border-radius-medium;
    
        transition:  0.2s ease-in-out;
    
                .productButton {
         
                    display: flex;
                    color: black;
                    height: 39px;
                    width: 39px;
                    border: none !important;
                    outline: none !important;
                    border-radius: 50%;
                    display: inline-block;
                    justify-items: center;
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) ;
                    align-items: center;
                    text-align: center;
                    position: relative;
                    line-height: 3em;
                    margin-right: 5px;
                    margin-left: 5px;
                    overflow: hidden;
    
                    .productIcon {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
            }

            &:hover {
                left: 200px;
            
            }
    
    }
    > .card-body {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    
        width: 257px;
    
        h5 {
            font-family: $font-poppins;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: 2px;
            color: $color-font-featured-category;
            margin-top: 20px;
        }
    
        h4 {
            font-family:  $font-poppins;
            font-size: 0.925rem;
            font-weight: 800;
            letter-spacing: 2px;
            color:  $color-font-featured-category;
        }
    
        .text-theme {
            color: $color-red-0;
        }
    
        .price {
            margin-top: 0.3rem;
            display: flex;
            justify-content: center;
    
            .old-price {
                font-size: 1.125rem;
                font-weight: 400;
                letter-spacing: 0.5px;
                text-decoration: line-through;
                padding-right: 0.5rem;
                display: none;
            }
    
            .new-price {
                font-size: 1.125rem;
                font-weight: 800;
                letter-spacing: 0.5px;
            }
        
        }
    }
    
   
}




.product-grid .card-menu:active .productButton{
            border: none !important;
        }
        .product-grid .card-menu button {
            border: none !important;
        }


        .product-grid .card:hover .card-menu  {
            display: block;
            top: 0;
            left:188px;
            
            transition: 0.05s ease-in-out;
        }








.product-grid .quickview-buttons {
    position: absolute;
    top:146px;
    overflow: hidden;
}
.product-grid  .card:hover .quickview-buttons {
   
    top:146px;
    transition: 0.1s ease-in-out;
   

    width: 300px;
 
}

.product-grid .card .quickview-buttons .quickview-button {
 

    display: block;
     height: 50px;
     width: 257px;
     background: $color-red-0;
     position: relative;
 
    
    
     text-align: center;
     align-self: center;
     
    margin-top: 15px;;
    
     padding: 3px;
     color: #fff;
     text-align: center;
     font-family: $font-poppins;
     font-size: 0.875rem;
     letter-spacing: 3.2px;
     font-weight: 400;
     padding-top: 15px;
     left: 0;
     bottom: 11px;
     filter: opacity(80%);
   
     z-index: 2;
     }
     .product-grid .card:hover  .quickview-buttons .quickview-button {
        background-color: black;
     }
    a.quickview-button {
     text-decoration: none;
     font-stretch: 300%;
     transition: 0.2s ease-in-out;
   
    }
    a.quickview-button:hover {
        background-color: $color-dark;
        color:$color-red-0;
    }

    .quick-btn-border::after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 10px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .quick-btn-border::before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 20px;
        left: 10px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }
    .card {
        display: flex;
    }
    .card-menu .productbutton li a {
        background-color: $color-white;
       margin-bottom: 0.5rem;
    
   
        height: 39px;
        width: 39px;
        background-color: $color-white;
        border-radius: 50%;
        display:inline-block;
        align-items: center;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06) ;
        align-items: center;
      line-height: 2.185rem;
      text-align: center;
       position: relative;
       font-size: 1.1rem;
       color: $color-dark;
    }
  
    .card-menu button:hover {
        font-weight:600;
        color:$color-white;
        text-decoration: none;
        background-color: $color-dark;

    }
    .card-menu .productButton >  i  {
        
        font-size: 1.2rem;
        font-weight: $font-weight-regular;
        text-align: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
     
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-self: center; 
   
    }
    .card-menu button :hover {
        background-color: $color-dark;
        color: white;
        border-radius: 50%;
    }
    .card-menu button i {
      margin-bottom: 30rem;
    }
   
 

    .card .card-background {
        position: absolute;
        bottom: 0;
        height: 0;
        top:0;
        width: 100%;
     /*    background-color: $color-theme-dark); */
        opacity: 0.90;
        transition:  0.3s ease-in-out;
    }
    .card .featured-image {
        height: 200px;
        display: grid;
        img {
            display: grid;
            filter: grayscale(80%);
            width:300px;
            height:200px;
            object-fit: cover;       
        }
       
    }
   

    .card:hover .card-background .featured-image-dark img {
        filter: contrast(110%) brightness(120%) grayscale(0%);
        display: grid;
      
        width:300px;
        height:200px;
        object-fit: cover;
   
    }

    .card:hover .card-background {
        position: absolute;
        bottom: 0;
        height: 200px;
        top:0;
        width: 100%;
   
      
        opacity: 0.90;
        transition:  0.02s ease-in-out;
    }
.featured .container  {

    display: flex;

    justify-content: center;
    width:100%;



}
}